In [1]:
import numpy as np

In [51]:
class Hotel:
    def __init__(self,menu,custemer_name,booked_table,custemer_order):
        self.menu=menu
        self.cst_name=custemer_name
        self.booked_table=booked_table
        self.costemer_order=custemer_order
    def Menu(self):
        print(f"menu:{self.menu}")
    def name(self):
        print(f"name:{self.cst_name}") 
    def add_item(self):
        add_list=input('item added to menu:')
        self.menu.append(add_list)
        print(f'updated menu:{self.menu}')
    def list_of_item(self):
        add_item=input('ordered item:')
        self.costemer_order.append(add_item)
        print(f'{self.cst_name} ordered:{self.costemer_order}')
    def table_booked(self):
        booking=int(input('table number:'))
        self.booked_table.append(booking)
        print(f'Table {bo}booked for{self.cst_name}')
item=['poratta','chappathi','puttu']
cst1=Hotel(menu=item,custemer_name=['joy'],booked_table=[],custemer_order=[])
cst2=Hotel(menu=item,custemer_name=['denis'],booked_table=[],custemer_order=[])
cst3=Hotel(menu=item,custemer_name=['benny'],booked_table=[],custemer_order=[])
cst1.Menu()
cst1.name()
cst1.add_item()
cst1.table_booked()
cst1.list_of_item()
cst2.Menu()
cst2.name()
cst2.add_item()
cst2.table_booked()
cst2.list_of_item()

menu:['poratta', 'chappathi', 'puttu']
name:['joy']

item added to menu: cake

updated menu:['poratta', 'chappathi', 'puttu', 'cake']

table number: 3

Table 3booked for['joy']

ordered item: cake*3

['joy'] ordered:['cake*3']
menu:['poratta', 'chappathi', 'puttu', 'cake']
name:['denis']

item added to menu: mandhi

updated menu:['poratta', 'chappathi', 'puttu', 'cake', 'mandhi']

table number: 5

Table 5booked for['denis']

ordered item: puttu

['denis'] ordered:['puttu']

## hotel manging

In [73]:
class Hotel:
    def __init__(self,menu,custemer_name,booked_table,custemer_order):
        self.menu=menu
        self.cst_name=custemer_name
        self.booked_table=booked_table
        self.costemer_order=custemer_order
    def Menu(self):
        add_menu=input('menu:')
        self.menu.append(add_menu)
        print(f'available item:{self.menu}') 
    def table_booking(self):
        booking=int(input('table number:'))
        self.booked_table.append(booking)
    def odering(self):
        add_item=input('ordered item:')
        self.costemer_order.append(add_item)
       
   
    def conformed(self):
        print(f"name:{self.cst_name}")
        print(f'Table {self.booked_table}booked for{self.cst_name}')
        print(f'{self.cst_name} ordered:{self.costemer_order}')
        
cst1=Hotel(menu=[],custemer_name=['joy'],booked_table=[],custemer_order=[])
cst2=Hotel(menu=item,custemer_name=['denis'],booked_table=[],custemer_order=[])
cst3=Hotel(menu=item,custemer_name=['benny'],booked_table=[],custemer_order=[])
cst1.Menu()

menu:  'puttu','poratta','chappathi','mandhi','cakes','biscuts','juice'

available item:[" 'puttu','poratta','chappathi','mandhi','cakes','biscuts','juice'"]

In [75]:
cst1.table_booking()
cst1.odering()
cst1.conformed()

table number: 2
ordered item: puttu

name:['joy']
Table [2]booked for['joy']
['joy'] ordered:['puttu']

In [77]:
cst2.table_booking()
cst2.odering()
cst2.conformed()

table number: 4
ordered item: poratta

name:['denis']
Table [4]booked for['denis']
['denis'] ordered:['poratta']

## banking

In [130]:
class bank:
    def __init__(self,acunt_no,blnce,date_of_opening,custemer_name):
        self.act_no=acunt_no
        self.blnce=blnce
        self.open_date=date_of_opening
        self.cst_name=custemer_name
       
    def deposit(self):
        
        deposit=int(input('deposit:'))
        
        print(f'your balance is:{self.blnce}')
        self.blnce=self.blnce+deposit
            
    def withdraw(self,amount):
        wtdrw=int(inut('withdraw:'))
        if self.blnce-amount>=0:
            print('you can withdraw  the amount')
            self.blnce=self.blnce-amount
        else:
            print('your transaction is failed,check yourbalance') 
    def details(self):
        print(f"act_no:{self.act_no}")

        print(f"cst_name:{self.cst_name}")
   
        print(f"accunt_open_in:{self.open_date}")

        print(f"account_balance:{self.blnce}")
cst1=bank(acunt_no=[235255],blnce=[500045600],date_of_opening=['20:7:1999'],custemer_name=['benny'])
cst2=bank(acunt_no=[235558],blnce=[5500000],date_of_opening=['24:5:1999'],custemer_name=['joy'])
cst3=bank(acunt_no=[235200],blnce=[54566700000],date_of_opening=['20:5:1979'],custemer_name=['meera'])

In [132]:
cst1.details()

act_no:[235255]
cst_name:['benny']
accunt_open_in:['20:7:1999']
account_balance:[500045600]

In [134]:
cst1.deposit()

deposit: 400000

your balance is:[500045600]

TypeError: can only concatenate list (not "int") to list