In [7]:
import numpy as np

In [3]:
def imp(a):
    if a<5:
        return False
    else:
        return True

In [9]:
a=5

In [13]:
imp(7)

True

In [15]:
imp(0)

False

## object oriented programming concept

students detailes

In [56]:
class Student:
    def __init__(self,name,ids):
        self.name=name
        self.id=ids
    def print_name(self):
        print(f"name:{self.name}")
    def print_id(self):
        print(f"id:{self.id}")

st1=Student('anu',1)
st1.print_name()
st1.print_id()

name:anu
id:1

In [52]:
st1.print_id()

id:1

In [90]:
class Student:
    def __init__(self,name,place,pin):
        self.name=name
        self.place=place
        self.pin=pin
    def print_name(self):
        print(f"name:{self.name}")
    def print_place(self):
        print(f"place:{self.place}")
    def print_pin(self):
        print(f"pin:{self.pin}")

st1=Student('anu','kottakkal',676503)
st1.print_place()
st1.print_pin()

place:kottakkal
pin:676503

In [110]:
class Student:
    def __init__(details,name,id):
        details.name=name
        details.id=id
    def print_name(details):
        print(f"name:{details.name}")
    def print_id(details):
        print(f"id:{details.id}")

st1=Student('anu',1)
st1.print_name()

name:anu

In [88]:
print(st1)

<__main__.Student object at 0x000001C3145600B0>

In [102]:
class account:
    def __init__(self,accnt_no,accnt_blnce):
        self.accnt_no=accnt_no
        self.accnt_blnce=accnt_blnce
    def withdraw(self,amount):
        if self.accnt_blnce-amount>=0:
            print('you can withdraw  the amount')
            self.accnt_blnce=self.accnt_blnce-amount
        else:
            print('your transaction is failed,check yourbalance') 
    def display(self):
        print(self.accnt_no,'your balance is',self.accnt_blnce)
ac1=account(1233456,1000000)
ac1.display()

1233456 your balance is 1000000

In [104]:
ac1.withdraw(10000)

you can withdraw  the amount

In [106]:
ac1.display()

1233456 your balance is 990000

In [108]:
ac1.withdraw(1000000)

your transaction is failed,check yourbalance

In [114]:
class animal:
    def __init__(self):
        self.name=input('enter name:')
        self.color=input('color:')
    def walk(self):
        print('animal can walk')
a1=animal()
print(a1.name)
a1.walk()

enter name: dog
color: white

dog
animal can walk